.bg-shadow::before {
	pointer-events: none;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.0001) 0%,
		rgba(0, 0, 0, 0.499577) 100%
	);
	@apply absolute top-[-50%] left-0 -z-10 h-full w-full content-[""];
}

.bg-shadow-light::before {
	pointer-events: none;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.0001) 0%,
		rgba(0, 0, 0, 0.1) 100%
	);
	@apply absolute top-[-50%] left-0 -z-10 h-full w-full content-[""];
}
